page-location {

    #map {
        height: 80%;
      }

      .marker {
        border: none;
        cursor: pointer;
        height: 56px;
        width: 56px;
      
        
        background-color: rgba(0, 0, 0, 0);
        background-size : contain;
        background-repeat: no-repeat;
      }

}
